@model CarpooliDotTN.Models.Carpool

@{
    ViewData["Title"] = "Add";
}

<h1>Creating a new Carpool</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartureCity" class="control-label">Departure City</label>
                <input asp-for="DepartureCity" class="form-control" />
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalCity" class="control-label">Arrival City</label>
                <input asp-for="ArrivalCity" class="form-control" />
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label">Departure Time</label>
                <input asp-for="DepartureTime"  class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" min="0" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
