@model IEnumerable<CarpooliDotTN.ViewModels.CarpoolCard>

@{
    ViewData["Title"] = "MyCarpools";
}

<h1>My Carpools</h1>

<p>
    <a asp-action="Add">Create a New Carpool</a>
</p>
<div class="col-lg-6">
@foreach(var item in Model){
    <div class="my-3">
    @Html.Partial("_CarpoolCard",(CarpooliDotTN.ViewModels.CarpoolCard) item)    
    </div>
    
}
</div>
