@model CarpooliDotTN.Models.Demand

@{
    ViewBag.Title = "Details";
}
<h2>Demand Detail</h2>
@if (ViewBag.IsEditable??false)
{
    <h4> You have Applied  at this carpool </h4>
    @Html.Partial("_CarpoolCard",Model.Carpool)
    
    <a href="#" class="btn btn-dark"> Cancel Demand </a>
}
else
{
    <h4> you cant touch this</h4>
}
