@model CarpooliDotTN.Models.Demand

@{
    ViewBag.Title = "Details";
}
<h2>Demand Detail</h2>
@if (ViewBag.IsEditable??false)
{
    <h4> This Demand is Editable, so Add necessary buttons !</h4>
}
else
{
    <h4> you cant touch this</h4>
}
<div class="container card">
    
    @Html.DisplayFor(model => model.SubmissionTime)
    @Html.DisplayFor(model => model.Carpool.DepartureCity)
    @Html.DisplayFor(model => model.Carpool.ArrivalCity)
</div>
