
@model List<CarpooliDotTN.ViewModels.DemandCard>
<div class="container">
    <div class="d-flex justify-content-between">
        <h1>Demands List</h1>
    </div>
    <hr>
    <div class="card-list col-md-6 col-sm-12">
        @foreach (var item in Model)
        {
            @Html.Partial("_DemandCard", (CarpooliDotTN.ViewModels.DemandCard)item)
        }
    </div>


</div>