@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


    <h5>1. Introduction</h5>

<p>
Welcome to Carpooli! This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our website and services.
</p>
<h5>2. Information We Collect</h5>
<p>
Personal Information: When you register or use our services, we may collect personal information such as your name, email address, and location data.

Usage Information: We gather information about how you use our platform, including your interactions, preferences, and device information.
<br>

Payment Details: If you make transactions on Carpooli, we collect payment details to facilitate secure transactions.
</p>
<h5>3. How We Use Your Information</h5>
<p>

We use your information for various purposes, including providing and improving our services, communicating with you, and ensuring the security of our platform.
</p>
<h5>4. Information Sharing</h5>
<p>
We do not sell, trade, or rent your personal information to third parties. However, we may share information with service providers and partners to enhance our services.
</P>
<h5>5. Your Choices</h5>
<p>
You can control how your information is used and shared. Adjust your privacy settings within your Carpooli account.
</p>
<h5>6. Security</h5>

We prioritize the security of your information and implement measures to protect it from unauthorized access.
<br>





By using Carpooli, you agree to the terms outlined in this Privacy Policy.</p>

