@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h5>1. Introduction</h5>


Welcome to Carpooli! This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our website and services.
<br>
<h5>2. Information We Collect</h5>

Personal Information: When you register or use our services, we may collect personal information such as your name, email address, and location data.
<br>

Usage Information: We gather information about how you use our platform, including your interactions, preferences, and device information.
<br>

Payment Details: If you make transactions on Carpooli, we collect payment details to facilitate secure transactions.
<br>

<h5>3. How We Use Your Information</h5>


We use your information for various purposes, including providing and improving our services, communicating with you, and ensuring the security of our platform.
<br>

<h5>4. Information Sharing</h5>

We do not sell, trade, or rent your personal information to third parties. However, we may share information with service providers and partners to enhance our services.
<br>

<h5>5. Your Choices</h5>

You can control how your information is used and shared. Adjust your privacy settings within your Carpooli account.
<br>

<h5>6. Security</h5>

We prioritize the security of your information and implement measures to protect it from unauthorized access.
<br>

<h5>7. Cookies and Similar Technologies</h5>

Carpooli uses cookies and similar technologies to enhance user experience and collect data on usage patterns.
<br>

<h5>8. Changes to This Privacy Policy</h5>

We may update this Privacy Policy periodically. Check the "Last updated" date to be aware of the latest revisions.
<br>


By using Carpooli, you agree to the terms outlined in this Privacy Policy.</p>

