@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1>@ViewData["Title"]</h1>
@*TODO: this one is making errors needs to be changed *@
<partial name="_StatusMessage" model="Model.StatusMessage" />
