@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>   @ViewData["Title"]</h1>
<p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
<img src="/assets/img/14562381_5500661.jpg" class="img-fluid animated" alt="" style=" width: 500px; 
">
